<!DOCTYPE html>
<html>
  <head>
     <title>Foodle</title>
     <link rel="stylesheet" href="/style.css">
  </head>
  <center>
    <header>
        <ul>
        
           
          <li><a href="#images">aboutCreator</a></li>
        
          </ul>  
    </header>
    <div class="logo">
      <h1><span class = "blue">F</span><span class = "red">o</span><span class = "yellow">o</span><span class = "blue">d</span><span class = "green">l</span><span class = "red">e</span></h1>
   
    </div>
    <form action="/submit" method="POST">
    <div class = "wrap">
      <div class="bar">
        <input placeholder="Search foods" class="searchbar" name = "Search" type="text" title="Search">
      
      </div>
      
    </div>
    </form>
  

    <div class="buttons">
      <button class="button" type="button">Why is my search loading forever?</button>
      <p>© A.V. 2023</p>
 
     </div>
  </body>